<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>





  <div class="ion-text-center ion-padding">
    <ion-item color="primary" lines="none">
      <ion-avatar slot="end">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <ion-text>
          <p>Usuario: Amilkar Dominguez</p>
          <p>Tipo: Pago QR</p>
          <p>Monto: 123.45 Bs.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="item_imput">
      <ion-input class="input"></ion-input>
    </ion-item>
    <div class="divider_20"></div>
    <ion-button color="white" routerLink="/tabs" shape="round">
      Aceptar
    </ion-button>
  </div>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">7</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">8</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">9</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">4</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">5</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">6</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">1</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">2</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">3</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">0</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="btn_delete">
          <ion-text color="primary">
            <h1 class="number">X</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>