ion-header {
    height: 35vh;
}

.header_login {
    height: 35vh;
    width: 100vw;
}

ion-toolbar {
    height: 35vh;
    --opacity: 0;
}

.title {
    margin-top: -22vh;
    position: relative;
}

.circle {
    position: absolute;
    top: -60vw;
    left: -5vw;
    width: 110vw;
    height: 110vw;
    background: var(--ion-color-gradient-primary);
    border-radius: 50%;
}

.logo {
    position: absolute;
    width: 30%;
    top: 10px;
    left: 65vw;
}

