<ion-header mode="md" [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button mode="ios" text="" defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-item color="primary" lines="none">
      <ion-avatar slot="start">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <ion-text>
          <p>Amilkar Dominguez</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>






<ion-content color="primary">

    <div style="margin-top: 80px;" class="ion-text-center ion-padding">
      <ion-text color="white">
        <h1>1234.56 Bs.</h1>
      </ion-text>

      <div class="divider_20"></div>
      <ion-button color="white" routerLink="/pin" shape="round">
        Aceptar monto
      </ion-button>
    </div>





  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">7</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">8</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">9</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">4</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">5</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">6</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">1</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">2</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">3</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">.</h1>
          </ion-text>
        </div>
      </ion-col>

      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary">
            <h1 class="number">0</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="btn_delete">
          <ion-text color="white">
            <h1 class="number">X</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>