<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-menu-button color="primary" menu="first_menu"><img src="/assets/menu_icon_512.svg"></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h3>1580.70 Bs</h3>
        </ion-text>
        <p>Nombre de usuario</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="searchbar_rounded" shape="round" cancelButtonText="Cancelar" placeholder="Buscar">
  </ion-searchbar>
  <ion-list>
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option (click)="test(test)">
          <ion-icon slot="start" size="large" src="/assets/send_money_icon_512.svg"></ion-icon>Enviar
        </ion-item-option>
      </ion-item-options>

      <ion-item lines="none" routerLink="/single-contact">
        <ion-avatar slot="start">
          <img src="assets/fastgi_secondary_512.svg" />
        </ion-avatar>
        <ion-text>
          <p>Amilkar Dominguez</p>
          <p>
            <ion-icon color="primary" name="call-sharp"></ion-icon> +59167377467
          </p>
        </ion-text>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="test(test)">
          <ion-icon slot="start" size="large" src="/assets/recibe_money_icon_512.svg"></ion-icon>Recibir
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>



</ion-content>