<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-menu-button color="primary" menu="first_menu"><img src="/assets/menu_icon_512.svg"></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h3>1580.70 Bs</h3>
        </ion-text>
        <p>Nombre de usuario</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-text color="primary">
      <h1><b>1234.56 Bs.</b></h1>
    </ion-text>
  </div>


  <ion-searchbar class="searchbar_rounded" shape="round" cancelButtonText="Cancelar" placeholder="Buscar">
  </ion-searchbar>
  <ion-list>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h2>Nombre</h2>
        <p>22/03/2020 14:25</p>
      </ion-label>
      <ion-label slot="end">
        <ion-text class="ion-text-right">
          <h1>+512</h1>
          <p>Transferencia</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
